#main {
    width: 52em;
    margin: auto;
}

.name-header {
    border-bottom: 1px solid #000000;
}

.name-header .name {
    font-size: 2em;
}

.name {
    font-variant: small-caps;
    font-family: sans-serif;
}

.name-header .name {
    /* Get the Z order right */
    position: relative;
}

.head { 
  float: right; 
  border-left: 10px solid white;
  margin-right: -5px;
}

.drop-shadow {
    color: #c0c0c0;
    position: relative;
    width: 0px;
    height: 0px;
    top: 2px;
    left: 2px;
}

.authors {
    font-size: .75em;
    margin-top: .25em;
    margin-bottom: 1em;
    font-family: sans-serif;
}

.abstract {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	border-left: 5px solid grey;
	border-right: 5px solid grey;
	clear: both;
}

h1 {
    font-size: 1.25em;
    border-bottom: 1px solid #000000;
}

h2 { 
	font-size: 1.1em;
	color: #446;
	font-style: italic;
}

p, dd {
    text-align: justify;
}

dt {
    margin-top: .5em;
    margin-bottom: .15em;
}

span.side-links {
  float: right;
  font-weight: bold;
  margin-left: 1em;
}

span.winkey {
	width: 20px;
	height: 16px;
	display: inline-block;
	color: red;
	background: url(images/winkey.jpg);
	background-size: 20px 20px;
}

b.enterkey {
	font-size: 8pt;
}

code.command {
	display: block;
	padding: 6px;
}

.paper-links { 
    float: right;
    text-align: right;
    padding-bottom: 12px;
}

.paper-links a { 
	font-weight: bold;
}

.paper-sublinks {
	font-size: smaller;
}

dl.software dt {
  font-weight: bold;
}

}
